
.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  padding-bottom: 140px;
  margin-bottom: 40px;
  padding: 50px;
  height: 600px;
}
.work_box {
  height: 420px;
  width: 320px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.swiper_works_box {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}
.swiper_works_title {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: -70px;
  font-family: cursive;
}
.swiper_works_text {
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: -70px;
}
.work_image {
  object-fit: cover;
}
.work_skills {
  position: absolute;
  top: 7%;
  left: 43%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  opacity: 0.85;
  margin-top: 95px;
  margin-left: -20px;
  text-shadow:
    2px  2px 1px #003366,
    -2px  2px 1px #003366,
    2px -2px 1px #003366,
    -2px -2px 1px #003366,
    2px  0px 1px #003366,
    0px  2px 1px #003366,
    -2px  0px 1px #003366,
    0px -2px 1px #003366;
}
.work_under_construction {
  position: absolute;
  bottom: 60%;
  left: 45%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: rgb(0, 0, 0);
  opacity: 0.85;
  margin-top: 95px;
  margin-left: -20px;
  text-shadow:
    2px  2px 1px #dbbe92,
    -2px  2px 1px #dbbe92,
    2px -2px 1px #dbbe92,
    -2px -2px 1px #dbbe92,
    2px  0px 1px #dbbe92,
    0px  2px 1px #dbbe92,
    -2px  0px 1px #dbbe92,
    0px -2px 1px #dbbe92;
}
.work_auth {
  position: absolute;
  background-color: rgb(230, 199, 134);
  border-radius: 2px;
  bottom: 50%;
  left: 45%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  opacity: 0.85;
  margin-top: 95px;
  margin-left: -20px;
  text-shadow:
    2px  2px 1px #8a5e1b,
    -2px  2px 1px #8a5e1b,
    2px -2px 1px #8a5e1b,
    -2px -2px 1px #8a5e1b,
    2px  0px 1px #8a5e1b,
    0px  2px 1px #8a5e1b,
    -2px  0px 1px #8a5e1b,
    0px -2px 1px #8a5e1b;
  border-radius: 25px;
}
.work_importance {
  position: absolute;
  background-color: rgb(147, 168, 192);
  border-radius: 2px;
  bottom: 14%;
  left: 29%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  opacity: 0.85;
  margin-top: 95px;
  margin-left: -20px;
  text-shadow:
    2px  2px 1px #1b1d8a,
    -2px  2px 1px #1b1d8a,
    2px -2px 1px #1b1d8a,
    -2px -2px 1px #1b1d8a,
    2px  0px 1px #1b1d8a,
    0px  2px 1px #1b1d8a,
    -2px  0px 1px #1b1d8a,
    0px -2px 1px #1b1d8a;
}
.work_remarks {
  position: absolute;
  background-color: rgb(139, 134, 134);
  border-radius: 2px;
  bottom: 40%;
  left: 73%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: white;
  opacity: 0.85;
  margin-top: 95px;
  margin-left: -20px;
  text-shadow:
    2px  2px 1px #8a1b8a,
    -2px  2px 1px #8a1b8a,
    2px -2px 1px #671b8a,
    -2px -2px 1px #8a1b8a,
    2px  0px 1px #8a1b8a,
    0px  2px 1px #8a1b8a,
    -2px  0px 1px #8a1b8a,
    0px -2px 1px #8a1b8a;
}
.workdetai_matome_site__title {
  text-align: left;
  font-weight: bold;
}